input.parsley-success,
select.parsley-success,
textarea.parsley-success {
	color: #468847;
	background-color: #ffffff;
	border: 1px solid #d6e9c6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
	color: #b94a48;
	background-color: #ffffff;
	border: 1px solid #eed3d7;
}

.parsley-errors-list {
	margin: 2px 0 3px;
	padding: 0;
	list-style-type: none;
	font-size: 0.9em;
	line-height: 0.9em;
	opacity: 0;
	color: #b94a48;

	transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-webkit-transition: all 0.3s ease-in;
}

.parsley-errors-list.filled {
	opacity: 1;
}
